body {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

$desktopWidth: 16 * 100px ;
$desktopheight: 9 * 100px;
#device {
    width: $desktopWidth;
    height: $desktopheight;
    border: 1px solid red;
}