body {
    margin: 0;
    padding: 0;
}

#wrapper {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#device {
    $desktopRatioScale: 30px;
    $desktopWidth: 16 ;
    $desktopheight: 9;

    $tabletRatioScale: 80px;
    $tabletWidth: 3;
    $tabletheight: 4;

    $smartphoneRatioScale: 80px;
    $smartphoneWidth: 3;
    $smartphoneheight: 4;
    border: 1px solid red;
    &.desktop {
        width: $desktopWidth * $desktopRatioScale;
        height: $desktopheight * $desktopRatioScale;
    }
    &.tablet {
        width: $tabletWidth * $tabletRatioScale;
        height: $tabletheight * $tabletRatioScale;
    }

    &.smartphone {
        width: $smartphoneWidth * $smartphoneRatioScale;
        height: $smartphoneheight * $smartphoneRatioScale;
    }
}